@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 123 25% 15%;
    --card: 60 40% 96%;
    --card-foreground: 123 25% 15%;
    --popover: 60 40% 96%;
    --popover-foreground: 123 25% 15%;
    --primary: 123 44% 39%;
    --primary-foreground: 60 33% 97%;
    --secondary: 123 20% 65%;
    --secondary-foreground: 123 25% 15%;
    --muted: 123 15% 85%;
    --muted-foreground: 123 10% 45%;
    --accent: 45 96% 58%;
    --accent-foreground: 45 100% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 123 15% 80%;
    --input: 123 15% 80%;
    --ring: 123 44% 39%;
    --chart-1: 123 44% 39%;
    --chart-2: 123 30% 55%;
    --chart-3: 45 96% 58%;
    --chart-4: 45 80% 68%;
    --chart-5: 45 70% 78%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 123 10% 8%;
    --foreground: 60 5% 80%;
    --card: 123 10% 12%;
    --card-foreground: 60 5% 80%;
    --popover: 123 10% 8%;
    --popover-foreground: 60 5% 80%;
    --primary: 123 44% 39%;
    --primary-foreground: 60 33% 97%;
    --secondary: 123 20% 25%;
    --secondary-foreground: 60 5% 90%;
    --muted: 123 10% 20%;
    --muted-foreground: 60 5% 63%;
    --accent: 45 96% 58%;
    --accent-foreground: 45 100% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 123 10% 25%;
    --input: 123 10% 25%;
    --ring: 123 44% 39%;
    --chart-1: 123 44% 39%;
    --chart-2: 123 30% 55%;
    --chart-3: 45 96% 58%;
    --chart-4: 45 80% 68%;
    --chart-5: 45 70% 78%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
